<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{/* Define variable title */}}
{{- $title := "" -}}
{{ if .IsHome }}
  {{- $title = site.Title -}}
{{ else }}
  {{ if .Title }}
    {{ $title = printf "%s | %s" .Title site.Title }}
  {{ end }}
{{ end }}

<title itemprop="name">{{ $title }}</title>
<meta itemprop="name" content="{{ $title }}" />
<meta name="application-name" content="{{ site.Title }}" />

{{/*  Define empty variable description  */}}
{{- $description := "" -}}

{{/*  If description is defined in front matter, use it  */}}
{{- if .Params.description -}}
  {{- $description = trim .Params.description "\n" -}}
{{/*  If description is not defined in front matter, use site description  */}}
{{- else if .Site.Params.description -}}
  {{- $description = trim .Site.Params.description "\n" -}}
{{- end -}}

<meta name="description" content="{{ $description }}">
<meta itemprop="description" content="{{ $description }}" />

<meta name="language" content="{{ .Site.LanguageCode }}" />
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

{{- $permalink := .Permalink -}}

{{ with .Params.image }}
  <meta itemprop="image" content="{{ $permalink }}{{ . }}" />
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}