@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    font-family: var(--font-noto-sans-tc), sans-serif;
  }

  .article strong {
    @apply font-bold;
  }

  .article p {
    @apply mb-6 last:mb-0;
  }

  .article p + p {
    @apply mt-6;
  }

  .article-title {
    font-family: var(--font-noto-serif-tc);
  }
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
