<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body data-theme="{{ .Site.Params.defaultColor | default "auto" }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        {{ partial "bio" . }}
        <main aria-label="Content">
            {{ $site := .Site}}
            {{ range $category := slice "shorts" "life" "tech" }}
                <div class="category-item">
                    {{ $term := $site.GetPage $category  }}
                    {{ $title := $term.Params.Title}}
                    <h3 class="posts-item-note" aria-label="$title">{{ $title }}</h3>
                    {{ $pagesToShow := $term.Pages }}
                    {{ $posts := $pagesToShow.ByDate.Reverse }}
                    {{ range first 5 $posts }}
                        {{ partial "postCard" . }}
                    {{ end }}
                    <p class="category-read-more">
                        <a href="/categories/{{ $category | urlize }}">查看所有 <strong>{{ $title }}</strong> 貼文</a>
                    </p>
                </div>
            {{ end }}
        </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
